<ion-view title="Aadhaar" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/OxhPmRcmSyawMHZzDUfI_aadharland.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="aadhaar-heading2" style="color: rgb(0, 0, 0);">How to pay via Aadhaar Card ?</h3>
    <div class="spacer" style="height: 50px;"></div>
    <div id="aadhaar-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You can now pay to anyone via your Aadhaar Card. </p>

      <p style="color:#000000;">You can do following things with Aadhaar card based Payment: </p>

      <ol>
        <li>Funds Transfer. </li>
        <li>Balance Enquiry.</li>
        <li>Cash Deposit or Withdrawal.</li>
        <li>Inter-Bank Transactions. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div id="aadhaar-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>Note: To do payments through your Aadhaarcard link your Aadhaar Card to your bank account and you're ready to pay anywhere with just your Fingerprints. </strong>
      </p>
    </div>
  </ion-content>
</ion-view>