<ion-view title="About us" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/o3u9hufQKVFApAB804sg_gp.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="aboutUs-button-bar2" class="button-bar"></div>
    <ion-list id="aboutUs-list2">
      <ion-item class="item-avatar positive" id="aboutUs-list-item9" href-inappbrowser="https://www.facebook.com/gauravporwalofficial" style="">
        <img src="img/rj596iqYShW2iJB28J5D_fbicon.png">
        <h2positive>Facebook Page</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="aboutUs-list-item10" href-inappbrowser="https://www.facebook.com/groups/bjymmaharashtragroup" style="">
        <img src="img/B2Vhu4R2SBqDsIYO66IU_fbgrp.png">
        <h2positive>Facebook Group</h2positive>
      </ion-item>
      <ion-item class="item-avatar positive" id="aboutUs-list-item11" href-inappbrowser="https://www.twitter.com/gauravdporwal" style="">
        <img src="img/By4MEEh3TWq9cUPbJx6q_twitter.png">
        <h2positive>Twitter</h2positive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="aboutUs-list-item12" href-inappbrowser="https://www.instagram.com/gauravporwal" style="">
        <img src="img/ShZbOypHSUSpQxxeKpUg_insta.png">
        <h2assertive>Instagram</h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="aboutUs-list-item13" href-inappbrowser="https://www.youtube.com/channel/UCaKgiFj25bT02b47jglu3Nw" style="">
        <img src="img/6LC38cPoR9K2YeNYyVNg_yt.png">
        <h2assertive>Youtube</h2assertive>
      </ion-item>
    </ion-list>
    <div>
      <a style="display:block;" href-inappbrowser="http://www.indianbizhub.com">
        <img src="img/2ugSqbO8QI6009tCDG7E_ibhlogo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>