<ion-view title="Card / PoS" id="page9" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/rxrGnpdzTM6VjoRkbjIH_posland.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="cardPoS-heading1" style="color: rgb(0, 0, 0);">How to Pay using Debit/Credit card or PoS ?</h3>
    <div class="spacer" style="height: 50px;"></div>
    <div id="cardPoS-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You might have used your Debit or Credit cards for payment but if not yet, then here's how you can use it.</p>

      <p style="color:#000000;">You can pay via your card at any Shop having PoS Machine. The Machine looks exactly like the one in above picture.</p>

      <p style="color:#000000;">Steps to Pay via Credit/Debit Cards.</p>

      <ol>
        <li>Insert or Swype your card in PoS Machine.</li>
        <li>Insert your PIN when asked.</li>
        <li>Get the Payment receipt. </li>
      </ol>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div id="cardPoS-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>Note: Please do not share your Credit/Debit card Pin with anyone for Security reasons.</strong>
      </p>
    </div>
  </ion-content>
</ion-view>