<ion-view title="Cashless India" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="cashlessIndia-list1">
      <ion-item class="item-thumbnail-left" id="cashlessIndia-list-item1" ui-sref="tabsController.nUUP99" style="">
        <img src="img/di0Ct1b8SJyziZXNd8eh_ic_ussd-web.png">
        <h2>*99#</h2>
        <p style="white-space:normal;">Pay Even when you don't have Smartphone</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cashlessIndia-list-item2" ui-sref="tabsController.uPI" style="">
        <img src="img/aE8tRXVpTOKS32Ay2uWR_ic_upi-web.png">
        <h2>UPI</h2>
        <p style="white-space:normal;">Unified Payment Interface</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cashlessIndia-list-item3" ui-sref="tabsController.eWallet" style="">
        <img src="img/gKX71EC7QaSka45BRTrK_ic_ewallet-web.png">
        <h2>E-Wallet</h2>
        <p style="white-space:normal;">Pay using E-wallet aps</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cashlessIndia-list-item4" ui-sref="tabsController.aadhaar" style="">
        <img src="img/9FtcQEMySmvdnVzWe6KA_ic_aadhaar-web.png">
        <h2>Aadhaar </h2>
        <p style="white-space:normal;">Pay using your Aadhaar card.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="cashlessIndia-list-item5" ui-sref="tabsController.cardPoS" style="">
        <img src="img/tSHmZxBtS36dJ6kuYahS_ic_card-web.png">
        <h2>Cards / PoS</h2>
        <p style="white-space:normal;">Pay using your Aadhaar card.</p>
      </ion-item>
    </ion-list>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <a style="display:block;" ui-sref="tabsController.aboutUs">
        <img src="img/9sZl2BKSSrOVWUThn93j_Gaurav.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>