<ion-view title="E-Wallet" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/gPhchgeRjOLoQxdAZXMA_ewalletland.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="eWallet-heading4" style="color: rgb(0, 0, 0);">How to pay via E-Wallet.</h3>
    <div class="spacer" style="height: 50px;"></div>
    <div id="eWallet-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Many E-Wallets are available in the Market. You can Download any popular one like SBI Buddy, PayTm etc.</p>

      <p style="color:#000000;">Register on E-wallets with your Mobile Number. </p>

      <p style="color:#000000;">Link the E-wallet with your Debit/Credit Card or through Net banking. </p>

      <p style="color:#000000;">Pay using E-Wallet wherever acceptable. </p>
    </div>
  </ion-content>
</ion-view>