<ion-view title="NUUP - *99#" id="page5" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/sq54aKQtRLWTDxw1Hi6l_nuupland.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="nUUP99-heading6" style="color: rgb(0, 0, 0);">How to pay via *99# ?</h3>
    <div class="spacer" style="height: 50px;"></div>
    <div id="nUUP99-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>National Unified USSD Platform (NUUP)</strong> enables you to do banking even when you don't have smartphone.</p>

      <p style="color:#000000;">To get a USSD base mobile banking menu on your mobile screen follow these simple steps. </p>

      <ol>
        <li>Dial *99# from your registered mobile number. </li>
        <li>You will receive the following welcome message
          <strong>Welcome to *99#</strong>.</li>
      </ol>

      <p style="color:#000000;">Enter 3 digit Bank Short Name, or First 4 letters of Bank IFSC code or 2 Digit Bank Numeric Code of *99# </p>
    </div>
    <h3 id="nUUP99-heading7" style="color: rgb(0, 0, 0);">How to Transact ?</h3>
    <div id="nUUP99-markdown8" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <strong>Account Balance :</strong> For Balance Enquiry, Select 1. </li>
        <li>
          <strong>Mini Statement:</strong> For Mini Statement (Last 3 Transactions), Select 2. </li>
        <li>
          <strong>Send Money using MMID:</strong> To send money directly through this portal. Get the MMID of the person you want to transfer the money to and Select 3, and Enter Linked Mobile number of Recepient and Enter MMID here. </li>
        <li>
          <p style="color:#000000;">
            <strong>Send money using IFSC code:</strong> Select 4.
            <br>Enter 11 digit IFSC and full account number of the Beneficiary. Enter Amount and remarks (Optional) separated with single space. </p>
        </li>
        <li>
          <p style="color:#000000;">
            <strong>Change MPIN:</strong> To change MPIN Enter old MPIN and last 4 digit of A/C No. separated with single space. Enter New MPIN. Re-enter New MPIN.</p>
        </li>
      </ol>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div id="nUUP99-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>Note: The Session expires in 30 seconds, Progress will be lost, You will have to start again.</strong>
      </p>
    </div>
  </ion-content>
</ion-view>