<ion-view title="UPI" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/oTUABRqLRZSR7iGKjXIQ_upiland.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="uPI-heading5" style="color: rgb(0, 0, 0);">How to pay via UPI ?</h3>
    <div class="spacer" style="height: 50px;"></div>
    <div id="uPI-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Unified Payment Interface ( UPI )</strong> is a payment system that allows money transfer between any two bank accounts by using a smartphone.</p>

      <p style="color:#000000;">UPI allows a customer to pay directly from a bank account to different merchants, both online and offline, without the hassle of typing credit card details, IFSC code, or net banking/wallet passwords.</p>

      <ol>
        <li>Download the UPI app from Play Store and install in phone. </li>
        <li>Set app login. </li>
        <li>Create virtual address. </li>
        <li>Add your bank account. </li>
        <li>Set M-Pin. </li>
        <li>Start transacting using UPI.</li>
      </ol>
    </div>
    <h3 id="uPI-heading8" style="color: rgb(0, 0, 0);">Banks Having UPI App</h3>
    <div id="uPI-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Andhra Bank, Axis Bank, Bank of Maharashtra, Bhartiya Mahila Bank, Canara Bank, Catholic Syrian Bank, DCB Bank, Federal Bank, ICICI Bank, TJSB Sahakari Bank, Oriental Bank of Commerce, Karnataka Bank, UCO Bank, Union Bank of India, United Bank of
        India, Punjab National Bank, South Indian Bank, Vijaya Bank and YES Bank. </p>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div id="uPI-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#FF0000;">
        <strong>Note: The per transaction limit is Rs.1 lakh.</strong>
      </p>
    </div>
  </ion-content>
</ion-view>